{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center"> 
    
    <form method="post">
    
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" required class="form-control border border-success border-opacity-50 rounded-3 w-auto"><br>
        </div>
        
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" required class="form-control border border-success border-opacity-50 rounded-3 w-auto"><br>    
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control border border-success border-opacity-50 rounded-3 w-auto"><br>
        </div>
        
        <div>  
            <p><a class="link-offset-2 link-underline link-underline-opacity-25 link-opacity-50 link-opacity-100-hover" href="{{ url_for('auth.login') }}">Login with your account</a></p>
        </div> 

        <button type="submit" class="shadow btn btn-success rounded-3">Sign up</button>
            
    </form>
    
</div> 

{% endblock %}
